
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="~/lib/html5shiv/html5shiv.js"></script>
    <script src="~/lib/respond.js/respond.js"></script>
    <![endif]-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    @*<link href="~/lib/bootstrap/fonts/css/font-awesome.css" rel="stylesheet" />*@
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/lib/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />*@

    <link href="~/lib/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <title>Index</title>

    <style type="text/css">
        .form-group {
            margin: 5px 5px 5px 5px;
        }

            .form-group span {
                margin-right: 5px;
            }

        #reportrange span {
            color: darkgreen
        }

        .panel-title {
            padding-left: 20px;
        }

        .panel {
            border: 1px solid black;
            padding: 10px;
        }


        #example tr:nth-last-child(2) {
            overflow-y: auto
        }
    </style>

</head>
<body>
    <div class="box-header with-border">
        <h3 class="box-title">应用程序接口权限设定</h3>
        <div class="pull-right box-tools">
            <button id="btnAdd" class="btn btn-primary" type="button" data-original-title="新增接口" data-toggle="tooltip" data-widget="">
                <i class="fa fa-plus-square"></i>&nbsp;&nbsp;测试
            </button>
            @*<button id="btnDelete" title="" class="btn btn-danger" type="button" data-original-title="删除接口" data-toggle="tooltip" data-widget="">
                    <i class="fa fa-times"></i>&nbsp;&nbsp;删除
                </button>*@
        </div>
    </div>

    <!--bootstrap-table表体-->
    @*<table id="tb-tasks"></table>*@
    <div class="container" style="width:100%">
        <table id="example" style="table-layout:fixed; word-wrap:break-word;" @*table-layout:fixed; word-wrap:break-word;*@
               class="display table-striped table-bordered table-hover table-condensed" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>OID</th>
                    <th>AppName</th>
                    <th>中文名</th>
                    <th>预留字</th>
                    <th>AppKey</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>


<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/popper.js/umd/popper.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.js"></script>

<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables/js/dataTables.bootstrap.min.js"></script>

@*<script src="~/lib/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/lib/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

    <script src="~/lib/bootstrap-select/js/bootstrap-select.js"></script>

    <script src="~/lib/bootstrap-daterangepicker/moment.min.js"></script>*@

<script type="text/javascript">


    var $table = $('#tb-tasks');
    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $table.bootstrapTable({
                url: '/InterfaceReg/List', //请求后台的URL（*）
                method: 'get', //请求方式（*）
                toolbar: '#toolbar', //工具按钮用哪个容器
                striped: true, //是否显示行间隔色
                cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true, //是否显示分页（*）
                sortable: true, //是否启用排序
                sortOrder: "asc", //排序方式
                queryParams: oTableInit.queryParams, //传递参数（*）
                sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1, //初始化加载第一页，默认第一页
                pageSize: 5, //每页的记录行数（*）
                pageList: [5, 10, 25, 50, 100], //可供选择的每页的行数（*）
                search: false, //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,
                showColumns: true, //是否显示所有的列
                showRefresh: false, //是否显示刷新按钮
                minimumCountColumns: 2, //最少允许的列数
                clickToSelect: true, //是否启用点击选中行
                height: 500, //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "OID", //每一行的唯一标识，一般为主键列
                showToggle: true, //是否显示详细视图和列表视图的切换按钮
                cardView: false, //是否显示详细视图
                detailView: false, //是否显示父子表
                columns: [
                    {
                        radio: true
                    }
                    ,
                    {
                        field: 'createtime',
                        title: '收到日期',
                        sortable: true
                    }, {
                        field: 'fromempname',
                        title: '寄件者'
                    }, {
                        field: 'appname',
                        title: '来源表单'
                    }, {
                        field: 'substance',
                        title: '主旨',
                        formatter: showState
                    }, {
                        field: 'operate',
                        title: '操作',
                        align: 'center',
                        valign: 'middle',
                        clickToSelect: false,
                        formatter: tableH.operateFormatter,
                        events: tableH.operateEvents
                    }
                ]
            });
        };

        //指定bootstrap-table查询参数
        oTableInit.queryParams = function (params) {
            var temp = { //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                limit: params.limit, //页面大小
                offset: params.offset, //页码
                sortfiled: params.sort, //排序字段
                sortway: params.order, //升序降序
                search: $("#txt-filter").val(), //自定义传参-任务名称
                status: $("#txt-search-status").val() //自定义传参-任务状态
            };
            return temp;
        };

        //格式化显示json日期格式
        function showDate(value, row, index) {
            var birthdayMilliseconds = parseInt(value.replace(/\D/igm, ""));
            var date = new Date(birthdayMilliseconds);
            var formatDate = date.toLocaleString();
            return formatDate;
        }

        //格式化显示任务状态
        //有待改进-获取任务状态列表
        function showState(value, row, index) {
            var formatState;
            if (value === 0) {
                formatState = '<span class="pull-right label label-success">Open</span>';
            }
            if (value === 1) {
                formatState = '<span class="pull-right label label-info">Completed</span>';
            }

            return formatState;
        }

        return oTableInit;
    };

    ///Bootstrap-table 相关操作列
    var tableH = {
        //指定操作列
        operateFormatter: function (value, row, index) {
            return [
                '<a class="like" href="javascript:void(0)" title="Like">',
                '<i class="fa fa-heart"></i>',
                '</a>  ',
                '<a class="remove" href="javascript:void(0)" title="Remove">',
                '<i class="fa fa-trash"></i>',
                '</a>'
            ].join('')
        }
        ,
        //指定table表体操作事件
        operateEvents: {
            'click .like': function (e, value, row, index) {
                alert('You click like action, row: ' + JSON.stringify(row))
            },
            'click .remove': function (e, value, row, index) {
                $table.bootstrapTable('remove', {
                    field: 'id',
                    values: [row.id]
                })
            }
        }
    };

    //bootstrap-table工具栏按钮事件初始化
    var ButtonInit = function () {
        var oInit = new Object();
        var postdata = {};

        oInit.Init = function () {
            //初始化页面上面的按钮事件
            //$("#btn-add")
            //    .click(function () {
            //        $("#add").modal("show");
            //    });

            //$("#btn-edit")
            //    .click(function () {
            //        var selectedRaido = $table.bootstrapTable('getSelections');
            //        if (selectedRaido.length === 0) {
            //            abp.notify.warn("请先选择要编辑的行！");
            //        } else {
            //            editTask(selectedRaido[0].Id);
            //        }
            //    });

            //$("#btn-delete")
            //    .click(function () {
            //        var selectedRaido = $table.bootstrapTable('getSelections');
            //        if (selectedRaido.length === 0) {
            //            abp.notify.warn("请先选择要删除的行！");
            //        } else {
            //            deleteTask(selectedRaido[0].Id);
            //        }
            //    });

            $("#btn-query")
                .click(function () {
                    $table.bootstrapTable('refresh');
                });
        };

        return oInit;
    };

</script>
<script>
    $(document).ready(function () {
        //1.初始化Table
        //var oTable = new TableInit();
        //oTable.Init();

        //loadDataTable();
        loadDataTable();

        //2.初始化Button的点击事件
        var oButtonInit = new ButtonInit();
        oButtonInit.Init();

    }); //jQuery 页面加载完

    //提示信息
    var lang = {
        "lengthMenu": "每页 _MENU_  项",
        "processing": "处理中...",
        "zeroRecords": "没有匹配结果",
        "info": "当前显示第 _START_ 到 _END_ 项, 共 _TOTAL_ 项",
        "infoEmpty": "暂无数据",
        "infoFiltered": "(由 _MAX_ 项结果过滤)", //当使用搜索功能后，表格主要信息出追加的字符
        "loadingRecords": "加载中...",
        "processing": "加载中， 请稍后...",
        "search": "搜索:",
        "infoPostFix": "", //追加到所有其他主要信息字符串之后
        "url": "",
        "emptyTable": "表中数据为空",
        "infoThousands": ",",
        "paginate": {
            "first": "首页",
            "last": "末页",
            "next": "下页",
            "previous": "上页"
        }
    };

    var partshowtool = {
        //默认现实的字符串长度
        remarkShowLength: 30
        ,
        changeShowRemarks: function (obj) {//obj是td
            debugger;
            var content = $(obj).attr("content");
            if (content != null && content != '') {
                if ($(obj).attr("isDetail") == 'true') {//当前显示的是详细备注，切换到显示部分
                    //$(obj).removeAttr('isDetail');//remove也可以
                    $(obj).attr('isDetail', false);
                    $(obj).html(partshowtool.getPartialRemarksHtml(content));
                } else {//当前显示的是部分备注信息，切换到显示全部
                    $(obj).attr('isDetail', true);
                    $(obj).html(partshowtool.getTotalRemarksHtml(content));
                }
            }
        }
        ,
        //切换显示备注信息，显示部分或者全部
        getPartialRemarksHtml: function (remarks) {
            return remarks.substr(0, partshowtool.remarkShowLength) + '&nbsp;&nbsp;<a href="javascript:void(0);" ><b>...</b></a>';
        }
        ,
        //全部备注信息
        getTotalRemarksHtml: function (remarks) {
            return remarks + '&nbsp;&nbsp;<a href="javascript:void(0);" >收起</a>';
        }

    }




    //初始化表格
    function loadDataTable() {

        //$('<div class="loading">正在加载……</div>').appendTo('body');

        $("#example").DataTable({
            language: lang, //提示信息
            stateSave: true, //状态保存，再次加载页面时还原表格状态
            autoWidth: false, //禁用自动调整列宽
            stripeClasses: ["odd", "even"], //为奇偶行加上样式，兼容不支持CSS伪类的场合
            processing: true, //隐藏加载提示,自行处理
            serverSide: true, //启用服务器端分页
            searching: false, //禁用原生搜索
            orderMulti: false, //启用多列排序
            order: [], //取消默认排序查询,否则复选框一列会出现小箭头
            deferRender: true, //延迟渲染可以提高Datatables的加载速度
            lengthMenu: [
                [10, 25, 50, 100, 300, -1],
                [10, 25, 50, 100, 300, "所有"]
            ], //每页多少项，第一个数组是表示的值，第二个数组用来显示
            renderer: "bootstrap", //渲染样式：Bootstrap和jquery-ui
            pagingType: "full_numbers", //分页样式：simple,simple_numbers,full,full_numbers
            scrollY: 400, //表格的固定高
            scrollCollapse: true, //开启滚动条
            pageLength: 10, //首次加载的数据条数
            columnDefs: [
                {
                    targets: 'nosort', //列的样式名
                    orderable: false //包含上样式名‘nosort'的禁止排序
                }
            ],
            //对应列表表头字段
            columns: [{
                "data": "oid", "orderable": false, "visible": false
            }, {
                "data": "appname"
            }, {
                "data": "appnamechs", "orderable": false,
            }, {
                "data": "reservedkey1", "orderable": false,
            }, {
                "orderable": false,
                "data": "reservedkey2",
                "render": function (data, type, full, meta) {
                    return data;
                    //debugger;
                    //if (data.length > partshowtool.remarkShowLength) {
                    //    return partshowtool.getPartialRemarksHtml(data);//显示部分信息
                    //} else {
                    //    return data;//显示原始全部信息
                    //}
                }
            }
            ],
            "initComplete": function (settings, json) {
                //$('div.loading').hide();
            },
            "createdRow": function (row, data, dataIndex) {
                //debugger;
                if (data.reservedkey2.length > partshowtool.remarkShowLength) {
                    //只有超长，才有td点击事件
                    //$(row).children('td').eq(4).attr('onclick', 'javascript:partshowtool.changeShowRemarks(this);');
                    //$(row).children('td').eq(4).attr('content', data.reservedkey2);
                    //$(row).children('td').eq(4).attr('isDetail', false);
                }
            },
            ajax: function (data, callback, settings) {
                //封装请求参数
                var param = {};
                param.length = data.length; //页面显示记录条数，在页面显示每页显示多少项的时候
                param.start = data.start; //开始的记录序号
                //param.page = (data.start / data.length) + 1; //当前页码

                //ajax请求数据
                $.ajax({
                    url: "/InterfaceReg/DataTableList",
                    type: "POST",
                    cache: false, //禁用缓存
                    data: data, //传入组装的参数
                    dataType: "json",
                    contentType: 'application/x-www-form-urlencoded;charset=utf-8',  //application/json
                    //beforeSend: function (request) {
                    //    request.setRequestHeader("token", localStorage.token);
                    //},
                    success: function (result) {
                        //console.log(result);
                        //setTimeout仅为测试延迟效果
                        setTimeout(function () {
                            //封装返回数据
                            //var returnData = {};
                            //returnData.draw = result.draw; //这里直接自行返回了draw计数器,应该由后台返回
                            //returnData.recordsTotal = result.total; //返回数据全部记录
                            //returnData.recordsFiltered = result.total; //后台不实现过滤功能，每次查询均视作全部结果
                            //returnData.data = result.data; //返回的数据列表
                            //console.log(returnData);
                            //调用DataTables提供的callback方法，代表数据已封装完成并传回DataTables进行渲染
                            //此时的数据需确保正确无误，异常判断应在执行此回调前自行处理完毕

                            if ($('#example_processing').hide) {
                                $('#example_processing').hide();
                            }
                            callback(result);

                        }, 200);
                    }
                });
            },

        });
    };



    /////
    //function loadDataTable() {
    //    $('#tb-tasks').DataTable({
    //        "processing": true,
    //        "serverSide": true,
    //        "ajax": {
    //            url: "/InterfaceReg/DataTableList",
    //            type: 'post',
    //            "data": function (d) {
    //                return $.extend({}, d, {
    //                    "extra_search": 'extra'
    //                });
    //            }
    //        },
    //        "columns": [
    //            { "data": "appname" },
    //            { "data": "appnamechs" },
    //            { "data": "reservedkey1" },
    //            { "data": "reservedkey2" }
    //        ]
    //    });
    //}
</script>