
@{
    ViewData["Title"] = "Index1";
    Layout = "~/Views/Message/_MessageLayout.cshtml";
}

@section styles
    {


}

<div title="Home">
    <div class="cs-home-remark">
        <h1>jQuery EasyUI 1.3.2 Demo</h1> <br>
        制作：purediy <br>
        博客：<a href="http://www.cnblogs.com/purediy" target="_blank">http://www.cnblogs.com/purediy</a><br>
        说明：jQuery EasyUI 1.3.2 Demo分类整理。
    </div>
</div>



@section scripts
    {
    <script type="text/javascript">
       
    </script>
}

