
@{
    Layout = "_MessageSignLayout";
    ViewData["Title"] = "App 签核消息中心";

    ViewBag.formTypes = new List<string>()
{
"所有",
"总务用品申请单(zwyp)",
"总务用品申请单(zwyp)",
"资产异动申请(zcyd)",
"资产出售单(zccs)",
"资产报废申请单(zcbf)",
"专案代码申请单(zadm)"
};


    ViewBag.handleStatus = new List<string>()
{
"所有",
"未读",
"已读"
//"未处理",
//"已处理",
//"退件待处理",
//"通知",
//"申请",
//"暂存",
//"职代处理通知"
};
}

@section styles  {
    <style>
        #reportrange span {
            color: green;
        }

        .filter-option-inner-inner {
            color: green;
        }

        #select2-formTypeSelect-container {
            color: green;
        }

        #select2-handleStatusSelect-container {
            color: green;
        }

        h5 {
            font-size: 14px;
            font-family: 'Microsoft YaHei UI'
        }

        .highlight {
            font-weight: bold
        }

        thead > tr > th {
            text-align: center;
            font-size: 14px;
        }

        #example_wrapper {
            margin-top: 20px;
        }


        /*bootstrap兼容问题和easyui的bug*/
        .panel-header, .panel-body {
            border-width: 0px;
        }

        .datagrid, .combo-p {
            border: solid 1px #D4D4D4;
        }

            .datagrid * {
                -webkit-box-sizing: content-box;
                -moz-box-sizing: content-box;
                box-sizing: content-box;
            }

        /* 下拉框高度*/
        .select2-container--default .select2-results > .select2-results__options {
            max-height: 350px;
        }

        .queryzone table tr td {
            padding: 5px;
        }

        .center-block {
            text-align: center;
        }
    </style>

}

<div class="easyui-layout" data-options="fit:true">

    <div data-options="region:'north',title:'North Title',split:false,collapse:false" style="height:100px;border:1px solid black;overflow:hidden"
         title="查询区域">
        <div style="padding:5px 10px 5px 10px" class="queryzone">

            <table id="queryZone">
                <tr>
                    <td>
                        <span>日期区间： </span>
                    </td>
                    <td>
                        <div id="reportrange"
                             style="display:inline; font-size:13px; color:rgb(255,255,255); background:rgb(255,255,255); cursor: pointer; padding: 5px 10px; border: 1px solid rgb(157,157,157); width: 100% height:min-content;">
                            <i class="fa fa-calendar"></i>&nbsp;
                            <span></span> <i class="fa fa-caret-down"></i>
                        </div>
                    </td>
                    <td>
                        <span>表单类型： </span>
                    </td>
                    <td>
                        <select id="formTypeSelect">
                            @foreach (var x in ViewBag.formTypes)
                            {
                                <option>@x</option>
                            }
                        </select>
                    </td>
                    <td>
                        <sapn>处理状况： </sapn>
                    </td>
                    <td>
                        <select id="handleStatusSelect">
                            @foreach (var y in ViewBag.handleStatus)
                            {
                                <option>@y</option>
                            }
                        </select>
                    </td>

                    <td>
                        <button type="button" style="margin-left: 50px; width:80px" id="btn-query" class="btn btn-primary">查询</button>
                    </td>
                </tr>
            </table>


        </div>
    </div>
    <div data-options="region:'center',title:'center title'" style="padding:5px; overflow-x:hidden" title="">
        <table id="example" style="" @*table-layout:fixed; word-wrap:break-word;*@
               class="display table-striped table-bordered table-hover table-condensed" cellspacing="0" width="95%"></table>
    </div>


</div>

@Html.Partial("_Detail")
@section scripts{
    <script defer="defer" src="~/Views/MessageSign/index.js"></script>
}

