<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
  <!--<appSettings>
    <add key="NEWOA_APP_NO" value="KMTRAINING"/>
    -->
  <!--New OA元件使用-->
  <!--
    <add key="NEWOA_APP_GUID" value="9fad9c0d-caf3-43f1-a4e3-19a3a89f076c"/>
    -->
  <!--New OA元件使用-->
  <!--
  </appSettings>-->
</configuration>