
@{
//Layout = null;
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <!-- 在IE运行最新的渲染模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 初始化移动浏览显示 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Bootstrap 标准模板</title>

    <!-- 1. 加载Bootstrap层叠样式表 -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- 你自己自定义的样式文件 -->
    <link href="css/your-style.css" rel="stylesheet">
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
      <script src="//lib.baomitu.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//lib.baomitu.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <h1>hello,world</h1>
    <!-- 2. 如果要使用Bootstrap的js插件，必须加载jquery库，且必须在bootstrap库之前 -->
    <script src="js/jquery-min-1.11.3.js"></script>
    <!-- 3. 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用-->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>